{% import "macros.md.jinja2" as macros %}
---
title: Classes
summary: Class Index
{% include "meta.md.jinja2" %}
---

{% if macros.exists(index.symbols) == "true" %}
{% with children=index.symbols|selectattr('kind', 'ne', 'namespace') %}
{% include "index.md.jinja2" %}
{% endwith %}
{% endif %}
{% include "footer.md.jinja2" %}
