{% import "macros.md.jinja2" as macros %}
---
title: Files
summary: File Index
{% include "meta.md.jinja2" %}
---

{% if macros.exists(index.files) == "true" %}{{ "\n\n" }}{% with children=index.files %}{% include "index.md.jinja2" %}{% endwith %}{% else %}{{ "\n" }}{% endif %}
{% include "footer.md.jinja2" %}
