{% import "macros.md.jinja2" as macros %}
---
title: Namespaces
summary: Namespace Index
{% include "meta.md.jinja2" %}
---

{% if macros.exists(index.namespaces) == "true" and macros.exists(index.namespaces|selectattr('kind', 'equalto', 'namespace')|list) == "true" %}{{ "\n\n" }}{% with children=index.namespaces|selectattr('kind', 'equalto', 'namespace') %}{% include "index.md.jinja2" %}{% endwith %}{% else %}{{ "\n" }}{% endif %}
{% include "footer.md.jinja2" %}
