{% import "macros.md.jinja2" as macros %}
---
title: Pages
summary: Page Index
{% include "meta.md.jinja2" %}
---

{% if macros.exists(index.pages) == "true" %}{{ "\n\n" }}{% with children=index.pages %}{% include "index.md.jinja2" %}{% endwith %}{% else %}{{ "\n" }}{% endif %}
{% include "footer.md.jinja2" %}
