{% import "macros.md.jinja2" as macros %}
---
title: Modules
summary: Module Index
{% include "meta.md.jinja2" %}
---

{% if macros.exists(index.topics) == "true" %}{{ "\n\n" }}{% with children=index.topics %}{% include "index.md.jinja2" %}{% endwith %}{% else %}{{ "\n" }}{% endif %}
{% include "footer.md.jinja2" %}
