<!-- body scripts -->
<!-- body scripts -->
<!-- body scripts -->
<!-- body scripts -->
<!-- body scripts -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    setTimeout(function () {
      if (document.querySelectorAll('[name^=ct_checkjs]').length > 0) {
        if (
          typeof apbct_public_sendREST === 'function' &&
          typeof apbct_js_keys__set_input_value === 'function'
        ) {
          apbct_public_sendREST('js_keys__get', {
            callback: apbct_js_keys__set_input_value,
          });
        }
      }
    }, 0);
  });
</script>
<script type="speculationrules">
  {
    "prefetch": [
      {
        "source": "document",
        "where": {
          "and": [
            { "href_matches": "\/*" },
            {
              "not": {
                "href_matches": [
                  "\/wp-*.php",
                  "\/wp-admin\/*",
                  "\/wp-content\/uploads\/*",
                  "\/wp-content\/*",
                  "\/wp-content\/plugins\/*",
                  "\/wp-content\/themes\/socialize-child\/*",
                  "\/wp-content\/themes\/socialize\/*",
                  "\/*\\?(.+)"
                ]
              }
            },
            { "not": { "selector_matches": "a[rel~=\"nofollow\"]" } },
            { "not": { "selector_matches": ".no-prefetch, .no-prefetch a" } }
          ]
        },
        "eagerness": "conservative"
      }
    ]
  }
</script>
<script>
  document.body.classList.remove('no-js');
</script>
<!-- tribe scripts -->
<!-- tribe scripts -->
<!-- tribe scripts -->
<!-- tribe scripts -->
<!-- tribe scripts -->
<!-- woocommerce scripts -->
<!-- woocommerce scripts -->
<!-- woocommerce scripts -->
<!-- woocommerce scripts -->
<!-- woocommerce scripts -->
<!-- quick tags scripts -->
<!-- quick tags scripts -->
<!-- quick tags scripts -->
<!-- quick tags scripts -->
<!-- quick tags scripts -->
<!-- more word press body scripts -->
<!-- more word press body scripts -->
<!-- more word press body scripts -->
<!-- more word press body scripts -->
<!-- more word press body scripts -->
<!--word press date scripts -->
<!--word press date scripts -->
<!--word press date scripts -->
<!--word press date scripts -->
<!--word press date scripts -->
<!-- even more word press scripts -->
<!-- even more word press scripts -->
<!-- even more word press scripts -->
<!-- even more word press scripts -->
<!-- even more word press scripts -->
<!-- highlighter scripts -->
<!-- highlighter scripts -->
<!-- highlighter scripts -->
<!-- highlighter scripts -->
<!-- highlighter scripts -->
<!-- socialize scripts -->
<!-- socialize scripts -->
<!-- socialize scripts -->
<!-- socialize scripts -->
<!-- socialize scripts -->
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/themes/socialize/lib/scripts/modernizr.js?ver=6.8.1"
  id="modernizr-js"
></script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-includes/js/imagesloaded.min.js?ver=5.0.0"
  id="imagesloaded-js"
></script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/themes/socialize/lib/scripts/selectivizr.min.js?ver=6.8.1"
  id="selectivizr-js"
></script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/themes/socialize/lib/scripts/placeholders.min.js?ver=6.8.1"
  id="placeholder-js"
></script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/plugins/js_composer/assets/lib/vendor/prettyphoto/js/jquery.prettyPhoto.min.js?ver=8.5"
  id="prettyphoto-js"
></script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/themes/socialize/lib/scripts/jquery.ui.totop.min.js?ver=6.8.1"
  id="jquery-totop-js"
></script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/themes/socialize/lib/scripts/jquery.flexslider-min.js?ver=6.8.1"
  id="jquery-flexslider-js"
></script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/plugins/js_composer/assets/lib/vendor/node_modules/isotope-layout/dist/isotope.pkgd.min.js?ver=8.5"
  id="isotope-js"
></script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/themes/socialize/lib/scripts/jquery.stellar.min.js?ver=6.8.1"
  id="jquery-stellar-js"
></script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/themes/socialize/lib/scripts/jquery.video-header.js?ver=6.8.1"
  id="ghostpool-video-header-js"
></script>
<script type="text/javascript" id="ghostpool-custom-js-js-extra">
  /* <![CDATA[ */
  var ghostpool_script = {
    lightbox: 'separate_images',
    url: 'https:\/\/www.envirodiy.org\/',
    related_items_in_view: '',
  };
  /* ]]> */
</script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/themes/socialize/lib/scripts/custom.js?ver=6.8.1"
  id="ghostpool-custom-js-js"
></script>
<!-- media scripts -->
<!-- media scripts -->
<!-- media scripts -->
<!-- media scripts -->
<!-- media scripts -->
<!-- ghostpool scripts -->
<!-- ghostpool scripts -->
<!-- ghostpool scripts -->
<!-- ghostpool scripts -->
<!-- ghostpool scripts -->
<script type="text/javascript" id="ghostpool-ajax-loop-js-extra">
  /* <![CDATA[ */
  var ghostpoolAjax = {
    ajaxurl: 'https:\/\/www.envirodiy.org\/wp-admin\/admin-ajax.php',
    ajaxnonce: 'df1e474562',
    querystring: 'pagename=mayfly',
  };
  /* ]]> */
</script>
<script
  type="text/javascript"
  src="https://www.envirodiy.org/wp-content/themes/socialize/lib/scripts/ajax-loop.js?ver=6.8.1"
  id="ghostpool-ajax-loop-js"
></script>
<!-- attachment scripts -->
<!-- attachment scripts -->
<!-- attachment scripts -->
<!-- attachment scripts -->
<!-- attachment scripts -->
