<!-- this is not used in base  -->

        <div id="gp-fixed-header-padding"></div>

        <div id="gp-header-area">
          <div class="gp-container">
            <div style="background-color: #fff; padding: 20px">
              <img
                class="alignleft size-full"
                src="https://www.envirodiy.org/wp-content/uploads/Stroud-logo-no-padding.png"
                alt=""
                width="150"
              />Welcome to EnviroDIY, a community for do-it-yourself environmental
              science and monitoring. EnviroDIY is part of
              <a
                style="text-decoration: underline"
                href="https://wikiwatershed.org"
                target="_blank"
                >WikiWatershed</a
              >, an initiative of
              <a
                style="text-decoration: underline"
                href="https://stroudcenter.org"
                target="_blank"
                >Stroud Water Research Center</a
              >
              designed to help people advance knowledge and stewardship of fresh water.
              <br /><strong>New to EnviroDIY?</strong>
              <a
                style="text-decoration: underline"
                href="https://envirodiy.org/participate/"
                >Start here</a
              >
            </div>
          </div><!-- gp-container -->
        </div><!-- gp-header-area -->

        <div class="gp-clear"></div>
