        <header id="gp-small-header">
          <div class="gp-container">
            <div class="gp-left-triangle"></div>
            <div class="gp-right-triangle"></div>

            <nav id="gp-top-nav" class="gp-nav">
              <div id="gp-left-top-nav">
                <ul id="menu-secondary-menu" class="menu">
                  <li
                    id="nav-menu-item-1363"
                    class="gp-standard-menu gp-columns-1 gp-show-all main-menu-item menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page"
                  >
                    <a
                      title="Learn more"
                      href="https://www.envirodiy.org/about/"
                      class="menu-link main-menu-link"
                      >An Initiative of Stroud Water Research Center</a
                    >
                  </li>
                </ul>
              </div>

              <div id="gp-right-top-nav">
                <ul id="menu-icon-links" class="menu">
                  <li
                    id="nav-menu-item-2175"
                    class="gp-standard-menu gp-columns-1 gp-show-all main-menu-item menu-item-even menu-item-depth-0 fa fa-envelope menu-item menu-item-type-custom menu-item-object-custom"
                  >
                    <a href="https://eepurl.com/cw-cBT" class="menu-link main-menu-link"
                      >Subscribe</a
                    >
                  </li>
                  <li
                    id="nav-menu-item-1365"
                    class="gp-standard-menu gp-columns-1 gp-show-all main-menu-item menu-item-even menu-item-depth-0 fa fa-github menu-item menu-item-type-custom menu-item-object-custom"
                  >
                    <a
                      title="EnviroDIY on GitHub"
                      href="https://github.com/EnviroDIY"
                      class="menu-link main-menu-link"
                      >EnviroDIY on GitHub</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div><!-- gp-container -->
        </header><!-- gp-small-header -->
